
/* default color ?? */
:root {
    --default-button-color: #2677a6;
    --disabled-button-color: #bdbdbd;
    --situacao1-button-color: #26a67b;
    --default-button-color-background: #20648b;
    --situacao1-button-color-background: #1c7c73;

    
    --default-button-color: #26a67b;
    --situacao1-button-color: #235041;
    --situacao2-button-color: #b93838;
    --default-button-color-background: #26a67b;
    --situacao1-button-color-background: #235041;
    --situacao2-button-color-background: #b93838;

    --red-button-color: #b93838;
}

a.btn,
button.btn {
    background-color: var(--default-button-color);
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;

    /* link */
    text-decoration: none;

    /* button */
    border: 0px;
    font-size: inherit;
    font-family: inherit;
    cursor:pointer;
}

a.btn:disabled,
button.btn:disabled {
    background-color: var(--disabled-button-color);
}

a.btn-clear,
button.btn-clear {
    background-color: #00000000;
}
a.btn-clear:hover,
button.btn-clear:hover {
    background-color: #00000055;
}

a.btn-wider,
button.btn-wider {
    padding: 5px 20px;
    margin: 5px 10px;
}
a.btn:hover,
button:hover {
    background-color: var(--default-button-color-background);
}

a.btn-red,
button.btn-red {
    background-color: var(--red-button-color)
}


.btn_atividade_concluida {
    background-color: var(--situacao1-button-color)
}

.btn_atividade_concluida:hover {
    background-color: var(--situacao1-button-color-background)
}

.btn_atividade_falhou {
    background-color: var(--situacao2-button-color)
}

.btn_atividade_falhou:hover {
    background-color: var(--situacao2-button-color-background)
}


a.btn.btn-sm,
button.btn-sm {
    font-size: 0.9rem;
    padding: 2px 5px;
}






a.btnPrioridade,
button.btnPrioridade {
    display: inline;
    margin: 0px 5px 0px 0px;
}

a.selected,
button.selected {
    outline: 3px solid #000000;
}

a.prioridadeUrgente,
button.prioridadeUrgente,
a.prioridadeUrgente:hover,
button.prioridadeUrgente:hover {
    background-color: rgb(109, 0, 0);
}
a.prioridadeAlta,
button.prioridadeAlta,
a.prioridadeAlta:hover,
button.prioridadeAlta:hover {
    background-color: rgb(255, 21, 21);
}
a.prioridadeMedia,
button.prioridadeMedia,
a.prioridadeMedia:hover,
button.prioridadeMedia:hover {
    background-color: rgb(255, 95, 21);
}
a.prioridadeBaixa,
button.prioridadeBaixa,
a.prioridadeBaixa:hover,
button.prioridadeBaixa:hover {
    background-color: rgb(255, 173, 21);
}
a.prioridadeBaixissima,
button.prioridadeBaixissima,
a.prioridadeBaixissima:hover,
button.prioridadeBaixissima:hover {
    color: #444444;
    background-color: rgb(234, 238, 0);
}

a.situacaoPendente,
button.situacaoPendente,
a.situacaoPendente:hover,
button.situacaoPendente:hover {
    background-color: #20c920;
}
a.situacaoAguardandoResposta,
button.situacaoAguardandoResposta,
a.situacaoAguardandoResposta:hover,
button.situacaoAguardandoResposta:hover {
    background-color: #0099ff;
}
a.situacaoPausadoIndefinidamente,
button.situacaoPausadoIndefinidamente,
a.situacaoPausadoIndefinidamente:hover,
button.situacaoPausadoIndefinidamente:hover {
    background-color: #757575;
}
a.situacaoConcluido,
button.situacaoConcluido,
a.situacaoConcluido:hover,
button.situacaoConcluido:hover {
    color: #444444;
    text-decoration: line-through;
    background-color: #d8d8d8;
}