
a.btn,
button {
    background-color: #26a69a;
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 5px;
    border-radius: 3px;

    /* link */
    text-decoration: none;

    /* button */
    border: 0px;
    font-size: inherit;
    font-family: inherit;
    cursor:pointer;
}

a.btn:hover,
button:hover {
    background-color: #1f8a7f;
}

a.btn.btn-sm,
button.btn-sm {
    font-size: 0.9rem;
    padding: 2px 5px;
}