
.fi {
    position: relative;
    top: 2px;
}
.iconBig > .fi{
    font-size: 1.1rem;
    position: relative;
    top: 2px;
}
/* DEFAULT BUTTON */
a.btn,
button.btn {
    text-align: center;
    background-color: var(--default-button-color);
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;

    /* link */
    text-decoration: none;

    /* button */
    border: 0px;
    font-size: inherit;
    font-family: inherit;
    cursor:pointer;
}
a.btn:hover,
button:hover {
    background-color: var(--default-hover-button-color-background);
}

a.btn-my-5,
button.btn-my-5{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* DISABLED BUTTON */
a.btn:disabled,
button.btn:disabled {
    background-color: var(--disabled-button-color);
}

/* CHECKBOX BUTTON */
a.btn-checkbox,
button.btn-checkbox {
    background-color: #00000000;
    padding: 0;
    font-size: 1.3rem;
}
a.btn-checkbox:hover,
button.btn-checkbox:hover {
    background-color: #00000055;
}

/* BLUE BUTTON */
a.btn-blue,
button.btn-blue {
    background-color: var(--blue-button-color);
}
a.btn-blue:hover,
button.btn-blue:hover {
    background-color: var(--blue-hover-button-color);
}

/* RED BUTTON */
a.btn-red,
button.btn-red {
    background-color: var(--red-button-color)
}

/* CLEAR BUTTON */
a.btn-clear,
button.btn-clear {
    border: 1px solid #575757;
    background-color: #00000000;
    color: #313131;
}
a.btn-clear:hover,
button.btn-clear:hover {
    background-color: #00000010;
}

/* CLEAR BUTTON */
a.btn-gray,
button.btn-gray {
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    color: black;
}
a.btn-gray:hover,
button.btn-gray:hover {
    background-color: #dddddd;
}

/* CIRCLE BUTTON */
a.btn-circle,
button.btn-circle {
    border-radius: 50%;
    display:block;
    height: 40px;
    width: 40px;
    line-height:1em;
}

/* WIDER BUTTON */
a.btn-wider,
button.btn-wider {
    padding: 5px 20px;
    margin: 5px 10px;
}



.btn_atividade_concluida {
    background-color: var(--situacao1-button-color)
}

.btn_atividade_concluida:hover {
    background-color: var(--situacao1-button-color-background)
}

.btn_atividade_falhou {
    background-color: var(--situacao2-button-color)
}

.btn_atividade_falhou:hover {
    background-color: var(--situacao2-button-color-background)
}

a.btn.btn-sm,
button.btn-sm {
    font-size: 0.9rem;
    padding: 2px 5px;
}






a.btnPrioridade,
button.btnPrioridade {
    display: inline;
    /* border: 1px solid #8d8d8d; */
}

a.selected,
button.selected {
    outline: 3px solid #000000;
}

a.prioridadeUrgente,
button.prioridadeUrgente,
a.prioridadeAlta,
button.prioridadeAlta,
a.prioridadeMedia,
button.prioridadeMedia,
a.prioridadeBaixa,
button.prioridadeBaixa,
a.prioridadeBaixissima,
button.prioridadeBaixissima,
a.situacaoPendente,
button.situacaoPendente,
a.situacaoAguardandoResposta,
button.situacaoAguardandoResposta,
a.situacaoPausado,
button.situacaoPausado,
a.situacaoConcluido,
button.situacaoConcluido {
    width:      90px;
    max-width:  90px;
    min-width:  90px;
}


a.prioridadeUrgente,
button.prioridadeUrgente {
    background-color: rgb(109, 0, 0);
}
a.prioridadeUrgente:hover,
button.prioridadeUrgente:hover {
    background-color: rgb(80, 6, 6);
}
a.prioridadeAlta,
button.prioridadeAlta {
    background-color: rgb(255, 21, 21);
}
a.prioridadeAlta:hover,
button.prioridadeAlta:hover {
    background-color: rgb(218, 19, 19);
}
a.prioridadeMedia,
button.prioridadeMedia {
    background-color: rgb(255, 95, 21);
}
a.prioridadeMedia:hover,
button.prioridadeMedia:hover {
    background-color: rgb(214, 80, 18);
}
a.prioridadeBaixa,
button.prioridadeBaixa {
    background-color: rgb(255, 173, 21);
    color: #444444;
}
a.prioridadeBaixa:hover,
button.prioridadeBaixa:hover {
    background-color: rgb(224, 153, 19);
}
a.prioridadeBaixissima,
button.prioridadeBaixissima {
    background-color: rgb(234, 238, 0);
    color: #444444;
}
a.prioridadeBaixissima:hover,
button.prioridadeBaixissima:hover {
    background-color: rgb(183, 185, 13);
}

a.situacaoPendente,
button.situacaoPendente {
    background-color: #20c920;
}
a.situacaoPendente:hover,
button.situacaoPendente:hover {
    background-color: #1cac1c;
}
a.situacaoAguardandoResposta,
button.situacaoAguardandoResposta {
    background-color: #0099ff;
}
a.situacaoAguardandoResposta:hover,
button.situacaoAguardandoResposta:hover {
    background-color: #0099ff;
}
a.situacaoPausado,
button.situacaoPausado {
    background-color: #575757;
}
a.situacaoPausado:hover,
button.situacaoPausado:hover {
    background-color: #757575;
}
a.situacaoConcluido,
button.situacaoConcluido {
    background-color: #d8d8d8;
    color: #444444;
    text-decoration: line-through;
}
a.situacaoConcluido:hover,
button.situacaoConcluido:hover {
    background-color: #b1b1b1;
}