
/* default color ?? */
:root {
    /* antigos */
    /* --default-button-color: #2677a6;
    --disabled-button-color: #bdbdbd;
    --situacao1-button-color: #26a67b;
    --default-button-color-background: #20648b;
    --situacao1-button-color-background: #1c7c73; */

    /* DARKMODE */
    --darkmode-font-color: #dfdfdf;
    --darkmode-bg-color: #101010;
    
    --darkmode-default-button-color: #1f234b;
    --darkmode-default-button-color: #322677;
    --darkmode-default-button-color: rgb(68, 77, 175);
    --darkmode-default-hover-button-color-background: #2c245a;

    --darkmode-dark-button-color: #000000;
    --darkmode-dark-hover-button-color-background: #303030;

    --darkmode-border-gray: #4b4b4b;
    --darkmode-border-gray2: #818181;


    /* WHITEMODE */
    --form-border-color: #b8b8b8;
    --default-button-color: #26a67b;
    --default-hover-button-color:#109060;
    --default-button-color-background: #26a67b;
    --default-hover-button-color-background: #109060;

    --blue-button-color: #2677a6;
    --blue-hover-button-color:#106090;

    --situacao1-button-color: #235041;
    --situacao1-button-color-background: #235041;

    --situacao2-button-color: #b93838;
    --situacao2-button-color-background: #b93838;

    --gray-button-color: #c2c2c2;
    --gray-button-border: #969696;
    --gray-button-color-hover: #c2c2c255;
    
    --red-button-color: #b93838;

    --offWhite: #eeeeee;
    --gray1: #b9b9b9;
    --darkGray: #333333;

    
    --whitegray: #c2c2c2;

    /* novas cores de prioridade */
    --prioridade1: #b22222; /* firebrick */
    --prioridade2: #ff8c00; /* darkorange */
    --prioridade3: #ffd700; /* gold */
    --prioridade4: #32cd32; /* limegreen */
    --prioridade5: #87ceeb; /* skyblue */
    --prioridade1text: white; /* firebrick */
    --prioridade2text: black; /* darkorange */
    --prioridade3text: black; /* gold */
    --prioridade4text: black; /* limegreen */
    --prioridade5text: black; /* skyblue */

    --prioridade1-border: 1px solid rgba(0, 0, 0, 0.35);
    --prioridade2-border: 1px solid rgba(0, 0, 0, 0.25);
    --prioridade3-border: 1px solid rgba(0, 0, 0, 0.22);
    --prioridade4-border: 1px solid rgba(0, 0, 0, 0.22);
    --prioridade5-border: 1px solid rgba(0, 0, 0, 0.18);

    --prioridade1-textshadow: 0 0 4px rgba(0, 0, 0, 0.45);
    --prioridade2-textshadow: 0 0 3px rgba(255, 255, 255, 0.45);
    --prioridade3-textshadow: 0 0 3px rgba(0, 0, 0, 0.35);
    --prioridade4-textshadow: 0 0 3px rgba(0, 0, 0, 0.35);
    --prioridade5-textshadow: 0 0 3px rgba(0, 0, 0, 0.30);
}
