.flex {
    display: flex;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-spacebetween {
    justify-content: space-between;
}
.justify-spacearound {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}

.alignitens-start {
    align-items: flex-start;
}

.alignitens-center {
    align-items: center;
}

.flexGrow1{
    flex-grow: 1;
}


.flex-justify-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-lateral-button {
    display: flex;
    align-items: center;
}