@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('./button.css');
@import url('./shadows.css');
@import url('./modal.css');
@import url('./form.css');


* {
  box-sizing: border-box;
}

html * {
    font-family: 'Poppins', sans-serif;
}
html {
    /* font-size: 16px; */
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

nav {
    border-bottom: 1px solid #b8b8b8;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 5px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.flex {
    display: flex;
}

.flex-justify-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-lateral-button {
    display: flex;
    align-items: center;
}

section {
    border-top: 1px solid #b8b8b8;
    margin-top: 20px;
    padding-bottom: 20px;
    /* background-color: beige; */
}

.diaBox {
    display:inline-block;
    width: 150px;
    text-align: center;
}

.hora {
    display:inline-block;
    width: 25px;
    /* border: 1px solid black; */
    text-align: center;
}






.fixed {
    position: fixed;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-spacebetween {
    justify-content: space-between;
}
.justify-spacearound {
    justify-content: space-around;
}

.alignitens-start {
    align-items: flex-start;
}

.alignitens-center {
    align-items: center;
}