@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css');

@import url('./margins-paddings.css');
@import url('./flexbox.css');
@import url('./button.css');
@import url('./shadows.css');
@import url('./modal.css');
@import url('./form.css');


* {
  box-sizing: border-box;
}

html * {
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 14px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.mainPageDiv {
    flex-grow: 1;
}

.menuButton {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    padding: 5px;
}

.background {
    background-image: url('./../bgimg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100svh;
  }
  .background-blur {
    backdrop-filter: blur(4px);
  }

nav.topNav {
    border-bottom: 1px solid #b8b8b8;
    position: absolute;
    min-width: 100svw;
    background-color: #eeeeee;
    z-index: 10;
}

nav.leftNav {
    display: flex;
    flex-direction: column;
    min-width: 100svw;
    max-width: 100svw;
    background-color: var(--default-button-color);
    font-size: 1.1rem;
    .leftNavTitle {
        padding: 0 10px;
        text-align: center;
        font-size: 1.5rem;
        color: white;
    }
    .leftNavText {
        padding: 0 10px;
        text-align: center;
        color: white;
    }
    .menuItem {
        padding: 10px 15px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        cursor: pointer;
    }
    .menuItem:hover {
        background-color:  var(--default-hover-button-color);
    }
}

@media only screen and (min-width: 800px) {
    nav.leftNav {
        min-width: 200px;
        max-width: 200px;
    }
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 5px;
}
.containerFullWidth {
    max-width: 100%;
    margin: 0 auto;
    padding: 5px 5px;
}

@media only screen and (min-width: 800px) {
    .container {
        padding: 5px;
    }
    .containerFullWidth {
        padding: 5px 20px;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.whitespace-pre{
    white-space: pre-wrap;
}

section.sectionBorder {
    border-top: 1px solid #b8b8b8;
    margin-top: 20px;
    padding-bottom: 20px;
    /* background-color: beige; */
}

.textCenter {
    text-align: center;
}

.diaBox {
    display:inline-block;
    width: 150px;
    text-align: center;
}

.hora {
    display:inline-block;
    width: 25px;
    /* border: 1px solid black; */
    text-align: center;
}

.fixed {
    position: fixed;
}


.xcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ycenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.verticalalign-center {
    vertical-align: middle;
}










.star-meudia {
    font-size: 1.2rem;
}
.check-pendente {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}
.check-concluido {
    font-size: 1.2rem;
    color: green;
}
.check-falhado {
    font-size: 1.2rem;
    color: red;
}