@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('./margins-paddings.css');
@import url('./flexbox.css');
@import url('./button.css');
@import url('./shadows.css');
@import url('./modal.css');
@import url('./form.css');


* {
  box-sizing: border-box;
}

html * {
    font-family: 'Poppins', sans-serif;
}
html {
    font-size: 14px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.background {
    background-image: url('./../bgimg.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background-blur {
    backdrop-filter: blur(4px);
    height: 100vh;
  }

nav {
    border-bottom: 1px solid #b8b8b8;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 5px;
}
.containerFullWidth {
    max-width: 100svw;
    margin: 0 auto;
    padding: 5px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.whitespace-pre{
    white-space: pre-wrap;
}

section.sectionBorder {
    border-top: 1px solid #b8b8b8;
    margin-top: 20px;
    padding-bottom: 20px;
    /* background-color: beige; */
}

.textCenter {
    text-align: center;
}

.diaBox {
    display:inline-block;
    width: 150px;
    text-align: center;
}

.hora {
    display:inline-block;
    width: 25px;
    /* border: 1px solid black; */
    text-align: center;
}

.fixed {
    position: fixed;
}


.xcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ycenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

