
nav.topNav {
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--form-border-color);
    position: absolute;
    min-width: 100svw;
    z-index: 60;
}

nav.leftNav {
    border-right: 1px solid var(--gray1);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    min-width: 100svw;
    max-width: 100svw;
    min-height: 100svh;
    max-height: 100svh;
    font-size: 1.0rem;
    .leftNavTitle {
        color: var(--font-color);
        padding: 0 10px;
        text-align: center;
        font-size: 1.5rem;
    }
    .leftNavText {
        color: var(--font-color);
        padding: 0 10px;
        text-align: center;
    }
    .menuItem {
        color: var(--font-color);
        background-color: var(--bg-color);
        padding: 10px 15px;
        text-decoration: none;
        cursor: pointer;
        i {
            font-size: 0.9rem;
            position: relative;
            top: 2px;
            margin-right: 5px;
        }
    }
    .menuItem:hover {
        background-color: var(--bg-color-variant);
    }
}

@media only screen and (min-width: 800px) {
    nav.leftNav {
        position: fixed;
        z-index: 10;
        min-width: 200px;
        max-width: 200px;
    }
}
