.prioridade {
    color: rgb(19, 19, 19);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}
.p1, button.p1 {
    background-color: var(--prioridade1);
    color: var(--prioridade1text);
    border: var(--prioridade1-border);
    text-shadow: var(--prioridade1-textshadow);
    font-size: 0.8rem;
}
.p2, button.p2{
    background-color: var(--prioridade2);
    color: var(--prioridade2text);
    border: var(--prioridade2-border);
    text-shadow: var(--prioridade2-textshadow);
    font-size: 0.8rem;
}
.p3, button.p3{
    background-color: var(--prioridade3);
    color: var(--prioridade3text);
    border: var(--prioridade3-border);
    text-shadow: var(--prioridade3-textshadow);
    font-size: 0.8rem;
}
.p4, button.p4{
    background-color: var(--prioridade4);
    color: var(--prioridade4text);
    border: var(--prioridade4-border);
    text-shadow: var(--prioridade4-textshadow);
    font-size: 0.8rem;
}
.p5, button.p5{
    background-color: var(--prioridade5);
    color: var(--prioridade5text);
    border: var(--prioridade5-border);
    text-shadow: var(--prioridade5-textshadow);
    font-size: 0.8rem;
}
.semPrioridade, button.semPrioridade {
    border: 1px solid #888888;
    color: rgb(19, 19, 19);
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
    /* novo estilo */
    border: 1px solid #eeeeee;
    background-color: #dddddd;
    color: black;
}
