
.projetoNaTarefa {
    font-size: 0.9rem;
    border: 1px solid var(--whitegray);
    border-radius: 5px;
}
.data_com_tarefa {
    font-size: 1.2rem;
    font-family: 'Inconsolata';
}
.data_com_tarefa_button_gray {
    font-size: 1.2rem;
    font-family: 'Inconsolata';
    padding: 5px;
    /* novo estilo */
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    color: black;
}

.data_na_tarefa{
  font-size: 1.2rem;
  font-family: 'Inconsolata';
  border: 1px solid var(--whitegray);
  border-radius: 5px;
}
.descricao_tarefa {
    border: 1px solid var(--whitegray);
    border-radius: 5px;
}
.motivo_tarefa{
    border-left: 3px solid var(--whitegray);
}